
{% extends 'base.html' %}
{%block head%}{%endblock%}

{%block body%}
    

    <div>
        <table>
            {% for row in board.board %}
            <tr>
                {% for piece in row %}

                        {% if piece.pos in moves %}
                            
                            <td id="getmoves">
                                    <a onclick="addVariableToUrl('{{piece.pos[0]}}{{piece.pos[1]}}{{obj.pos[0]}}{{obj.pos[1]}}')">    
                                        <div class="cell"><img class="pieces "src="{{url_for('static', filename='chess_pieces/'+piece.name+'_'+piece.strId+'.png')}}" alt=""></div>
                                    </a>
                                    </td>
                            
                        {%elif piece.id != 3 and piece.move(board.board) != [] and piece.id == turn %}
                                <td id={{piece.color}}>
                                    <a onclick="add_Var_To_Url('{{piece.pos[0]}}{{piece.pos[1]}}')">
                                        <div class="cell"><img src="{{url_for('static', filename='chess_pieces/'+piece.name+'_'+piece.strId+'.png')}}" alt="{{piece.name}}{{piece.id}}"></div>
                                    </a>
                                </td>
                        
                        {% else %}
                            <td id={{piece.color}}>
                                <img src="{{url_for('static', filename='chess_pieces/'+piece.name+'_'+piece.strId+'.png')}}" alt="">
                                
                            </td>
                        {% endif %}
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        <script>
        function addVariableToUrl(variableName) {
            console.log(variableName)
          var url = "/move/" + variableName;
            window.location.href = url;
        }
        function add_Var_To_Url(variableName) {
            console.log(variableName)
          var url = "/get_moves/" + variableName;
            window.location.href = url;
        }
        </script>
    </div>
    
{%endblock%}